body{
    background: #FEAC5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}h1{
    color: rgb(88, 66, 10);
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 40px;
}
h1:hover{
    transform:scale(1.2)
}


.login{

    width: 280px;
    height: 220px;
    background-color:rgb(128, 128, 128);
    margin: auto;
    border-radius: 30px;
   
    

}
.log{
    width: 280px;
    height: 40px;
display: flex;
justify-content: center;
align-items: center;




}
input{
    width: 250px;
    background-color:rgb(0, 0, 0);
    color: white;
    border-radius: 30px;
    text-align: right;
}
button{
    width: 230px;
    background-color: rgb(230, 185, 102);
color: white;
border-radius: 30px;
}
button a{
    text-decoration: none;
}
button:hover{
    background-color:brown;
}